Source: ros-jade-cartesian-msgs
Section: misc
Priority: extra
Maintainer: Dave Coleman <davetcoleman@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-message-generation, ros-jade-std-msgs
Homepage: https://github.com/davetcoleman/cartesian_msgs
Standards-Version: 3.9.2

Package: ros-jade-cartesian-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-geometry-msgs, ros-jade-message-runtime, ros-jade-std-msgs
Description: Stream cartesian commands
